/* -------------------------------------
    GLOBAL
------------------------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
}
img {
  max-width: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  width: 100%!important;
  height: 100%;
}
table {
  border-collapse: collapse;
}
table th,
table td {
  vertical-align: top;
}
/* -------------------------------------
    ELEMENTS
------------------------------------- */
a {
  color: #348eda;
}
.btn-primary,
.btn-secondary {
  text-decoration: none;
  border-width: 10px 20px;
  line-height: 2;
  margin-right: 10px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
.btn-primary {
  background-color: #348eda;
  border: solid #348eda;
  color: #FFF;
}
.btn-secondary {
  background: #aaaaaa;
  border: solid #aaaaaa;
  color: #FFF;
}
.last {
  margin-bottom: 0;
}
.first {
  margin-top: 0;
}
.padding {
  padding: 10px 0;
}
/* -------------------------------------
    BODY
------------------------------------- */
.body-wrap {
  width: 100%;
  padding: 0;
}
@media only screen and (max-width: 600px) {
  .body-wrap {
    padding: 5px;
  }
}
.body-wrap .container {
  border: 1px solid #f0f0f0;
  padding: 10px;
}
/* -------------------------------------
    FOOTER
------------------------------------- */
table.footer-wrap {
  width: 100%;
  clear: both !important;
}
table.footer-wrap a {
  color: #999;
}
table.footer-wrap .container p {
  font-size: 12px;
  color: #666;
}
/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1,
h2,
h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.1;
  margin-bottom: 15px;
  color: #000;
  line-height: 1.2;
  font-weight: 200;
}
h2,
h3 {
  margin: 30px 0 10px;
}
h1 {
  font-size: 32px;
  margin: 15px 0 30px;
}
h2 {
  font-size: 27px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 16px;
}
p,
ul {
  font-weight: normal;
  font-size: 14px;
}
ul {
  margin-bottom: 10px;
}
ul li {
  margin-left: 5px;
  list-style-position: inside;
}
/* ---------------------------------------------------
    RESPONSIVENESS
    Nuke it from orbit. It's the only way to be sure.
------------------------------------------------------ */
/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
  display: block !important;
  max-width: 700px !important;
  margin: 0 auto !important;
  /* makes it centered */

  clear: both !important;
}
/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  max-width: 8 00px;
  margin: 0 auto;
  display: block;
}
.content table {
  width: 100%;
}
table.products td,
table.products td p,
table.products td ul {
  font-size: 13px;
}
#order-nr {
  margin-top: 15px;
  margin-bottom: 5px;
  width: 100%;
  text-align: right;
  font-size: 15px;
}
#order th,
#order td {
  padding: 1px;
}
#order tr td {
  border-bottom: 1px solid #ddd;
  padding: 2px;
}
#order ul {
  margin-bottom: 0;
}
#order .picture-col {
  width: 20%;
}
#order .product-details {
  color: #666;
}
#order-summary {
  width: 280px;
}
#order-summary th,
#order-summary td {
  padding: 1px;
}
#order-summary th {
  font-weight: normal;
  text-align: right;
  padding-right: 8px;
}
#vouchers {
  margin-top: 15px;
  width: 200px;
}
#grand-total th,
#grand-total td {
  border-top: 1px solid #ddd;
}
#greeting-card-message {
  margin-left: 10px;
  font-size: 12px;
}
.price {
  width: 30%;
  text-align: right;
  white-space: nowrap;
}
